
.mongol-text {
  margin: 10px;
  writing-mode: vertical-lr;
  line-height: normal;
  font-family: Menk-Hawang-Tig, MongBaiti;
  font-size: 120%;
}

.mongol-box {
  display: block;
  width: 100%;
  background-color: #E6F2FF;
  overflow-x:  scroll;
  margin: 0px;
}

.mongol-border {
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-image: url(/files/web-resources/uul3.svg) 25% round;
}

audio {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}