
.mongol-text {
  margin: 10px;
}

.mongol-box {
  writing-mode: vertical-lr;
  display: block;
  margin-bottom: 10px;
  line-height: normal;
  overflow-x:  scroll;
  width: 100%;
  background-color: #E6F2FF
}

audio {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}