body {
	font-family: OpenSans, Garamond, Ubuntu, AR PL UMing HK, Open Sans, Microsoft Yahei, Kaiti, Simsun, serif;
}

code {
	font-family: Ubuntu Mono, Fira Mono, Lucida Console, Courier New, Monaco, Kaiti, monospace;
	font-size: 95%;
}

h1 {
	font-family: Roboto, Garamond, Arial, sans-serif;
}

h2 {
	font-family: Roboto, Georgia, Verdana, Garamond, Alegreya, AR PL UMing HK, Open Sans, Arial, sans-serif;
}